// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /*
             * Left hand:
             * Row1:  ESC  1    2    3    4    5
             * Row2:  TAB  Q    W    E    R    T
             * Row3:  LSFT A    S    D    F    G
             * Row4:  Y    X    C    V    B    UP   SPC  DOWN
             *
             * Right hand:
             * Row1:  X    0    9    8    7    6
             * Row2:  X    P    O    I    U    Z
             * Row3:  X    X    L    K    J    H
             * Row4:  MINS DOT  COMM M    N    RIGHT SPC LEFT
             */
            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                                          &kp X    &kp N0   &kp N9   &kp N8   &kp N7   &kp N6
                &kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T                                           &kp X    &kp P    &kp O    &kp I    &kp U    &kp Z
                &kp LSFT  &kp A    &kp S    &kp D    &kp F    &kp G                                           &kp X    &kp X    &kp L    &kp K    &kp J    &kp H
                &kp Y     &kp X    &kp C    &kp V    &kp B    &kp UP   &kp SPACE &kp DOWN   &kp MINUS &kp DOT &kp COMMA &kp M   &kp N    &kp RIGHT &kp SPACE &kp LEFT
            >;
        };
    };
};
